h1{
    width: 50%;
    background-color: whitesmoke;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    margin: auto;
    padding: 0px 10px;
}

button{
    width: 85%;
    height: 40px;
    margin: 10px;
    padding: 5px;
    background-color: rgb(208, 204, 204);
    border-radius: 7px;
}
button:hover{
    background-color: antiquewhite;
    transform: scale(1.02);
}
.input{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
input{
    width: 40px;
}
body{
    margin-top: 30px;
}
h2{
    margin: 10px;
    color: rgb(5, 113, 5);
}
h4{
    margin-bottom: 0px;
}
@media (max-width:600px) {
    h1{
        width: 90%;
    }
}